<ion-header>

  <ion-navbar>
    <ion-title>Logistics Manager</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="gridForm">
    <ion-item>
      <ion-label floating>Name:</ion-label>
      <ion-input type="text" autofocus formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Grid</ion-label>
      <ion-checkbox #gridcheck item-right secondary formControlName="gridcheck"></ion-checkbox>
    </ion-item>
    <ion-item *ngIf="gridcheck.checked">
      <ion-label floating>Rows:</ion-label>
      <ion-input type="number" autofocus formControlName="rows" (keyup)="showBox($event)"></ion-input>
    </ion-item>
    <ion-item *ngIf="gridcheck.checked">
      <ion-label floating>Columns:</ion-label>
      <ion-input type="number" formControlName="cols" (keyup)="showBox($event)"></ion-input>
    </ion-item>

    <ion-item *ngIf="gridcheck.checked">
      <div id="containerHolder">
        <ion-grid>
          <ion-row *ngFor="let row of grid" nowrap>
            <ion-col *ngFor="let x of row" col-auto class="boxPos">
              {{x}}
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>

  </form>

</ion-content>